body {
  font-family: sans-serif;
  background-color: #DEDEDE;
  color: #333;
  padding: 20px 0 28px 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.app-title {
  text-align: center;
  font-weight: normal;
  font-size: 2.6rem;
}

.story {
  max-width: 650px;
  padding: 20px;
  margin: 30px auto;
  background-color: #FFF;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .1);
  overflow: hidden;
}

.story h4 {
  margin: 0 0 6px 0;
}

.headline {
  font-size: 2rem;
  font-weight: normal;
  margin: 0 0 1rem 0;
}

.snippet {
  font-size: 1.2rem;
  color: #888;
  vertical-align: middle;
}

a {
    color: darkblue;
    font-size: .9rem;
}

a:hover {
    color: lightblue;
    font-size: .9rem;
}

.footer {
  font-size: .7rem;
  color: #888;
  text-align: center;
  margin: 0;
}